<a href="https://colab.research.google.com/github/wogus7076/python2021/blob/main/pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## **pandas 라이브러리 추가**

In [ ]:
import pandas as pd # as pd 는 안써도 되지만 축약해서 쓰려고 쓴것.

### 복습문제) 
다음 4개의 리스트를 이용하여 각 지역별 평균, 최대, 최소값 리스트를 값으로 가지는 딕션너라를 작성하시오.
* 데이터참고:https://www.airkorea.or.kr/web/weekSearch?pMENU_NO=111
```
area = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]
```

In [5]:
area = ['서울',	'부산',	'대구',	'인천',	'광주',	'대전',	'울산',	'세종',	'경기',	'강원',	'충북',	'충남',	'전북',	'전남',	'경북',	'경남',	'제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [6]:
print(area)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']

## 데이터프레임으로 변환
* **pd.DataFrame()**

In [8]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###  리스트를 데이터프레임으로 변환

In [13]:
df = pd.DataFrame(area)
df # 글처럼 보고싶으면 print를 쓰고, 표처럼 보고싶으면 print쓰지말것

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주

In [14]:
df['평균'] = pm25_avg
df['최대'] = pm25_max
df['최소'] = pm25_min
df

     0  평균  최대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

### 딕션너리를 데이터프레임으로 변환
* 딕션너리 키 : 열(column)
* 딕션너리 값 : 행(row)

In [ ]:
df = pd.DataFrame(dt)
df

In [ ]:
df = pd.DataFrame()
df['area'] = area
df['avg'] = pm25_avg
df['max'] = pm25_max
df['min'] = pm25_min
df

In [20]:
temp = list(zip(area,pm25_avg,pm25_max,pm25_min))
print(temp)
df2 = pd.DataFrame(temp)
df.columns = ['area', 'avg', 'max', 'min']
df

[('서울', 20, 22, 16), ('부산', 13, 18, 10), ('대구', 15, 18, 11), ('인천', 20, 30, 12), ('광주', 19, 23, 15), ('대전', 16, 20, 12), ('울산', 14, 16, 11), ('세종', 18, 19, 17), ('경기', 20, 27, 13), ('강원', 14, 18, 9), ('충북', 19, 26, 14), ('충남', 23, 29, 19), ('전북', 23, 30, 14), ('전남', 14, 27, 10), ('경북', 15, 23, 8), ('경남', 13, 17, 9), ('제주', 14, 16, 11)]

   area  avg  max  min
0    서울   20   22   16
1    부산   13   18   10
2    대구   15   18   11
3    인천   20   30   12
4    광주   19   23   15
5    대전   16   20   12
6    울산   14   16   11
7    세종   18   19   17
8    경기   20   27   13
9    강원   14   18    9
10   충북   19   26   14
11   충남   23   29   19
12   전북   23   30   14
13   전남   14   27   10
14   경북   15   23    8
15   경남   13   17    9
16   제주   14   16   11

In [ ]:
dtz = list(zip(area,pm25_avg,pm25_max,pm25_min ))

df = pd.DataFrame(dtz)
df.columns = ['area', 'avg', 'max', 'min']
df

## 외부 데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.read_excel(‘파일명‘)
```

In [28]:
#지역별주간별_초미세먼지.csv 가져오기 
df = pd.read_csv('/content/drive/MyDrive/Python특강/python2021/data/지역별주간별_초미세먼지.csv',engine='python' , encoding='cp949')
df

   지역   주간평균   최고값   최저값
0   서울     20    22    16
1   부산     13    18    10
2   대구     15    18    11
3   인천     20    30    12
4   광주     19    23    15
5   대전     16    20    12
6   울산     14    16    11
7   세종     18    19    17
8   경기     20    27    13
9   강원     14    18     9
10  충북     19    26    14
11  충남     23    29    19
12  전북     23    30    14
13  전남     14    27    10
14  경북     15    23     8
15  경남     13    17     9
16  제주     14    16    11

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [ ]:
#데이터프레임의 정보
df.info()

In [ ]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df) )
print('데이터프레임 행 개수 len : ', len(df.index) )
print('데이터프레임 행 개수 shape : ', df.shape[0] )
print('데이터프레임 열 개수 len : ', len(df.columns) )
print('데이터프레임 열 개수 shape : ', df.shape[1] )

In [ ]:
#데이터프레임 각 열의개수 확인
print(df.count())
print('-'*20)
print(df.count(axis='columns'))

In [ ]:
#데이터프레임의 원소의 총개수
print(df.size)

In [ ]:
#데이터프레임의 인덱스
print('열인덱스 : ', df.columns)
print('행인덱스 :', df.index)

In [ ]:
#열명의 공백 제거 
df.columns = [item.strip() for item in df.columns]
df.columns

In [ ]:
#지역 컬럼을 행 인덱스로 지정
df = df.set_index('지역')
df

In [ ]:
#인덱스를 일반 데이터 열로 전환
df = df.reset_index()
df

## **데이터프레임 인덱싱(indexing)과 슬라이싱(slicing)**

In [ ]:
df = df.set_index('지역')
df.head()

### df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스]

In [ ]:
#특정 열 가져오기
df['주간평균']

In [ ]:
df[['주간평균','최고값']]

In [ ]:
#특정행 가져오기
df['부산':'인천']

### df.loc[행인덱스, 열인덱스]
* 특정 열 가져오기 : df.loc[:, 열인덱스]
* 특정 행 가져오기 : df.loc[행인덱스, :]
* 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

In [ ]:
#특정 열 가져오기
df.loc[:, '최저값']

In [ ]:
df.loc[:, ['주간평균', '최저값']]

In [ ]:
df.loc[:, '주간평균':'최저값']

In [ ]:
#특정 행 가져오기
df.loc['부산',:]

In [ ]:
df.loc[['부산', '인천'], :]

In [ ]:
df.loc['부산':'인천', :]

In [ ]:
#특정 항목 가져오기
df.loc['부산', '주간평균']

In [ ]:
df.loc[['부산','인천'],['주간평균', '최저값']]

In [ ]:
df.loc['부산':'인천','주간평균':'최저값']

### df.iloc[행인덱스순서, 열인덱스순서]
* 특정 열 가져오기 : df.loc[:, 열인덱스순서]
* 특정 행 가져오기 : df.loc[행인덱스순서, :]
* 특정 항목 가져오기 : df.loc[행인덱스순서, 열인덱스순서]

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값'] 
df.iloc[:, 2]

In [ ]:
#df.loc[:, ['주간평균', '최저값']]
df.iloc[:, [0, 2]]

In [ ]:
#df.loc[:, '주간평균':'최저값']
df.iloc[:, 0:2]

In [ ]:
#특정 행 가져오기
#df.loc['부산',:]
df.iloc[1,:]

In [ ]:
#df.loc[['부산', '인천'], :]
df.iloc[[1, 3], :]

In [ ]:
#df.loc['부산':'인천', :]
df.iloc[1:4, :]

In [ ]:
#특정 항목 가져오기
#df.loc['부산', '주간평균']
df.iloc[1, 0]

In [ ]:
#df.loc[['부산','인천'],['주간평균', '최저값']]
df.iloc[[0,3],[0, 2]]

In [ ]:
#df.loc['부산':'인천','주간평균':'최저값']
df.iloc[1:4,0:3]

## **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

## 자주사용되는 메소드

### 행열 전환 : df.T

In [ ]:
df2 = df.T
df2

### 정렬
+ 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
+ 행렬 값 정렬 : df.sort_values()

In [ ]:
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_values('주간평균', ascending=False)

### 문자열 처리
* df['열명'].str

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/AIData/data/특성화학과정보_컴퓨터.xlsx')
data.head()

In [ ]:
data['대학명'].str[:-3]

### 그룹화
* 데이터를 그룹별로 분류
* df.groupby(인수)
  + 열 또는 열의 리스트
  + 행 인덱스
* 그룹 연산 메소드
  + size, count: 그룹 데이터의 갯수
  + mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
  + sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
  + first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

In [ ]:
datag = data.groupby('지역')[['대학명']].count()
datag.sort_values('대학명', ascending=False)

### 시계열 자료
* **pd.to_datetime()** : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 변환
* **dt 접근자** : datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용
  +  year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보 추출

dt 접근자 | 내용 
-------------------|------------------
.dt.date         | YYYY-MM-DD(문자)
.dt.year         | 연(4자리숫자)
.dt.month        | 월(숫자)
.dt.month_name() | 월(문자)
.dt.day          | 일(숫자)
.dt.time         | HH:MM:SS(문자)
.dt.hour         | 시(숫자)
.dt.minute       | 분(숫자)
.dt.second       | 초(숫자)
.dt.quarter       | 분기(숫자)
.dt.day_name()  | 요일이름(문자)  
.dt.weekday       | 요일숫자(0-월, 1-화) (=dayofweek)
.dt.weekofyear    | 연 기준 몇주째(숫자) (=week)
.dt.dayofyear     | 연 기준 몇일째(숫자)
.dt.days_in_month | 월 일수(숫자) (=daysinmonth)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/AIData/data/air.csv', encoding='cp949')
data.info()

In [ ]:
data.head()

In [ ]:
data['day'] = data['날짜'].str[:-3]
data['day'] = pd.to_datetime(data['day'])
data.info()

In [ ]:
data['요일'] = data['day'].dt.day_name()
data.head()



---
## 해결문제 


---

대학알리미 사이트에서 표준분류 정보 검색을 통해 '컴퓨터'관련 학과를 검색한 정보를 받아서 자료를 분석하시오.

1.'대학명','학과명', '지역', '설립유형', '표준분류계열(대)'

2.부산지역의 국립 대학 추출